In [12]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
!ls /content/drive/MyDrive/overfishnt/Machine_Learning/data/weather_and_marine_condition/

angin  arus  presipitasi  swh

In [14]:
%cd /content/drive/MyDrive/overfishnt/Machine_Learning/data/weather_and_marine_condition/

/content/drive/MyDrive/overfishnt/Machine_Learning/data/weather_and_marine_condition

In [15]:
import warnings
warnings.filterwarnings('ignore')

import xarray as xr
import numpy as np
import pandas as pd
import xarray as xr
import matplotlib
import matplotlib.pyplot as plt
import csv

## presipitasi

In [16]:
# wpp = xr.open_dataset('/content/drive/MyDrive/overfishnt/data/weather_and_marine_condition/swh/koordinat.txt')

file_path = '/content/drive/MyDrive/overfishnt/Machine_Learning/data/weather_and_marine_condition/swh/koordinatwpp.xlsx'  # Replace with the actual file path
# Read the Excel file into a Pandas DataFrame
wpp = pd.read_excel(file_path)

In [17]:

#2022
prp22 = xr.open_dataset('/content/drive/MyDrive/overfishnt/Machine_Learning/data/weather_and_marine_condition/presipitasi/presipitasi_2022.nc')
prp22 = prp22.to_dataframe()
prp22= prp22.reset_index()

#2023
prp23 = xr.open_dataset('/content/drive/MyDrive/overfishnt/Machine_Learning/data/weather_and_marine_condition/')
presipitasi/presipitasi_2023.nc')
prp23 = prp23.to_dataframe()
prp23 = prp23.reset_index()
prp23

          longitude  latitude  expver                time            tp
0              95.0       6.0       1 2023-01-01 00:00:00  6.258488e-07
1              95.0       6.0       1 2023-01-01 01:00:00  0.000000e+00
2              95.0       6.0       1 2023-01-01 02:00:00  6.258488e-07
3              95.0       6.0       1 2023-01-01 03:00:00  0.000000e+00
4              95.0       6.0       1 2023-01-01 04:00:00  0.000000e+00
...             ...       ...     ...                 ...           ...
73526395      141.0     -11.0       5 2023-04-30 19:00:00  0.000000e+00
73526396      141.0     -11.0       5 2023-04-30 20:00:00  0.000000e+00
73526397      141.0     -11.0       5 2023-04-30 21:00:00  0.000000e+00
73526398      141.0     -11.0       5 2023-04-30 22:00:00  0.000000e+00
73526399      141.0     -11.0       5 2023-04-30 23:00:00  5.638227e-06

[73526400 rows x 5 columns]

In [ ]:
list_wpp = ['571','572','573','711','712','713','714',
            '715','716','717','718']
for i in range (len(wpp)):
  header = wpp.iloc[i]
  x = prp22.loc[(prp22['longitude']==header['longitude']) & 
   (prp22['latitude']==header['latitude'])]
  y = prp23.loc[(prp23['longitude']==header['longitude']) & 
   (prp23['latitude']==header['latitude'])]
  new_df = pd.concat([x, y])
  nama = list_wpp[i]
  new_df.to_csv('/content/drive/MyDrive/overfishnt/data/weather_and_marine_condition/presipitasi/csv/'+f'prep{nama}.csv',index=False)
  f"prep{nama}.csv"
  # print(header)

## angin

In [ ]:
# wpp = xr.open_dataset('/content/drive/MyDrive/overfishnt/data/weather_and_marine_condition/swh/koordinat.txt')

file_path = '/content/drive/MyDrive/overfishnt/data/weather_and_marine_condition/swh/koordinatwpp.xlsx'  # Replace with the actual file path
# Read the Excel file into a Pandas DataFrame
wpp = pd.read_excel(file_path)

In [ ]:

#2022
wnd22 = xr.open_dataset('/content/drive/MyDrive/overfishnt/data/weather_and_marine_condition/angin/angin2022.nc')
wnd22 = wnd22.to_dataframe()
wnd22= wnd22.reset_index()
#calculate magnitude
import math
wnd22['mag'] = wnd22.apply(lambda x: math.sqrt(x['u10']**2 +x['v10']**2),axis=1)
wnd22

In [ ]:
#2023
wnd23 = xr.open_dataset('/content/drive/MyDrive/overfishnt/data/weather_and_marine_condition/angin/angin2023.nc')
wnd23 = wnd23.to_dataframe()
wnd23 = wnd23.reset_index()
wnd23

          longitude  latitude  expver                time       u10       v10
0              95.0       6.0       1 2023-01-01 00:00:00 -7.248147 -2.157891
1              95.0       6.0       1 2023-01-01 01:00:00 -7.376153 -1.982831
2              95.0       6.0       1 2023-01-01 02:00:00 -7.567920 -2.217804
3              95.0       6.0       1 2023-01-01 03:00:00 -8.108705 -2.538904
4              95.0       6.0       1 2023-01-01 04:00:00 -8.004670 -2.346525
...             ...       ...     ...                 ...       ...       ...
73526395      141.0     -11.0       5 2023-04-30 19:00:00 -5.259997  3.880748
73526396      141.0     -11.0       5 2023-04-30 20:00:00 -5.702500  3.555904
73526397      141.0     -11.0       5 2023-04-30 21:00:00 -6.063024  3.542798
73526398      141.0     -11.0       5 2023-04-30 22:00:00 -6.224108  3.281612
73526399      141.0     -11.0       5 2023-04-30 23:00:00 -6.125349  2.782176

[73526400 rows x 6 columns]

In [ ]:
list_wpp = ['571','572','573','711','712','713','714',
            '715','716','717','718']
for i in range (len(wpp)):
  header = wpp.iloc[i]
  x = wnd22.loc[(wnd22['longitude']==header['longitude']) & 
   (wnd22['latitude']==header['latitude'])]
  y = wnd23.loc[(wnd23['longitude']==header['longitude']) & 
   (wnd23['latitude']==header['latitude'])]
  new_df = pd.concat([x, y])
  nama = list_wpp[i]
  new_df.to_csv('/content/drive/MyDrive/overfishnt/data/weather_and_marine_condition/angin/csv/'+f'angin{nama}.csv',index=False)
  f"angin{nama}.csv"
  # print(header)